/*Cronología del foro*/
.tca-chrono {
	width: 100%;
	 background: var(--tca2);
	 margin: 0 auto;
	 box-sizing: border-box;
	 display: flex;
	 flex-direction: column;
 }
 .chrono-box {
	height: auto;
	 position: relative;
	 padding: 100px;
	 box-sizing: border-box;
 }
 .chrono-line {
	width:100%;
	 display: flex;
	 padding-bottom: 10px;
 }
 .lineatemporal {
	width: 2px;
	 height: 100%;
	 background: var(--accent);
	 position: absolute;
	 margin-left: 13px;
 }
 .chrono-boton {
	width: 5%;
	 height: auto;
	 margin: 0 5px;
	 display: flex;
	 justify-content: center;
	 position: relative;
 }
 .tca-circle {
	width: 18px;
	 height: 18px;
	 background: var(--accent);
	 margin-top: 3px;
 }
 .chrono-years {
	display: flex;
	 flex-direction: column;
	 width: 95%;
	 margin-bottom: 5px;
 }
 .tca-year {
	color: #999;
	 font-family: 'Eb Garamond', serif;
	 font-weight: 800;
	 font-size: 28px;
 }
 .year-info {
	font-size: 10pt;
	 font-family: 'Noto Sans', sans-serif;
	 text-align: justify;
	 padding-top: 8px;
	 width: 100%;
	 box-sizing: border-box;
 }
 /***PERSONAJES NO JUGABLES***/
 #tca-pnjs {
	width: 1000px;
	 height: auto;
	 margin: 0 auto;
	 background: #000;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 30px;
	 flex-wrap: wrap;
 }
 .tca-npc {
	width: 300px;
	 height: 450px;
	 border: 5px solid var(--general);
	 position: relative;
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
	 margin: 3px;
	 flex-direction: column;
	 overflow: hidden;
 }
 .npc-photo {
	width: 300px;
	 height: 450px;
	 background-size: cover;
	 background-position: center;
	 top: 0;
	 transition-delay: .2s;
	filter: grayscale(100%) brightness(18%) contrast(95%);
	 -webkit-filter: grayscale(100%) brightness(18%) contrast(95%);
	-moz-filter: grayscale(100%) brightness(18%) contrast(95%);
	 position: absolute;
	 box-sizing: border-box;
	 transition: 1s;
 }
 .tca-npc:hover .npc-photo {
	transition: 1s;
	 top: -100%;
	 opacity: 0;
 }
 .npc-name {
	font-family: 'Eb Garamond', serif;
	 font-size: 58px;
	 color: var(--accent);
	 font-weight: 400;
	 font-style: italic;
	 letter-spacing: 4px;
	 position: relative;
	 text-transform: uppercase;
	 line-height: 100%;
	 transition: 1s;
	 left: 0;
 }
 .gea .npc-name {
	color: var(--gea);
 }
 .terra .npc-name {
	color: var(--terra);
 }
 .templo .npc-name {
	color: var(--templo);
 }
 .earth .npc-name {
	color: var(--earth);
 }
 .tca-npc:hover .npc-name {
	transition: 1s;
	 left: -100%;
 }
 .npc-title {
	font-family: 'Noto Sans Mono', monospace;
	 font-size: 9px;
	 text-transform: uppercase;
	 color: var(--tca);
	 letter-spacing: 3px;
	 position: relative;
	 padding: 8px;
	 border-top: 1px solid var(--accent);
	 border-bottom: 1px solid var(--accent);
	 width: 300px;
	 box-sizing: border-box;
	 text-align: center;
	 right: 0;
	 transition: 1s;
 }
 .gea .npc-title {
	border-top: 1px solid var(--gea);
	 border-bottom: 1px solid var(--gea);
 }
 .terra .npc-title {
	border-top: 1px solid var(--terra);
	 border-bottom: 1px solid var(--terra);
 }
 .templo .npc-title {
	border-top: 1px solid var(--templo);
	 border-bottom: 1px solid var(--templo);
 }
 .earth .npc-title {
	border-top: 1px solid var(--earth);
	 border-bottom: 1px solid var(--earth);
 }
 .tca-npc:hover .npc-title {
	transition: 1s;
	 right: -100%;
 }
 .npc-title-icon {
	font-size: 35px;
	 text-align: center;
	 color: var(--tca);
	 position: relative;
	 padding: 10px;
	 background: var(--accent);
	 width: 35px;
	 height: 35px;
	 transition: 1s;
	 top: 0%;
 }
 .gea .npc-title-icon {
	background: var(--gea);
 }
 .terra .npc-title-icon {
	background: var(--terra);
 }
 .templo .npc-title-icon {
	background: var(--templo);
 }
 .earth .npc-title-icon {
	background: var(--earth);
 }
 .tca-npc:hover .npc-title-icon {
	top: -82%;
	 transition: 1s;
	 background: transparent;
	 color: var(--accent);
	 transition: 1s;
	 transition-delay: .2s;
	 display: flex;
	 align-items: center;
	 justify-content: center;
 }
 .gea.tca-npc:hover .npc-title-icon {
	color: var(--gea);
 }
 .terra.tca-npc:hover .npc-title-icon {
	color: var(--terra);
 }
 .templo.tca-npc:hover .npc-title-icon {
	color: var(--templo);
 }
 .earth.tca-npc:hover .npc-title-icon {
	color: var(--earth);
 }
 .npc-overlay {
	background: transparent;
	 transition: 1s;
	 bottom: 100%;
	 position: absolute;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-start;
	 align-items: center;
	 opacity: 0;
 }
 .tca-npc:hover .npc-overlay {
	transition: 1s;
	 top: 0;
	 width: 100%;
	 height: 450px;
	 background: transparent;
	 box-sizing: border-box;
	 opacity: 1;
 }
 .npc-name-sur {
	font-family: 'Archivo Black', monospace;
	 font-size: 20px;
	 text-transform: uppercase;
	 color: var(--tca);
	 letter-spacing: 3px;
	 position: relative;
	 text-align: center;
	 transition: 2s;
	 top: 100%;
	 left: 0;
 }
 .tca-npc:hover .npc-name-sur {
	transition: 2s;
	 top: 18%;
 }
 .npc-story {
	width: 100%;
	 max-height: 295px;
	 text-align: justify;
	 color: #777;
	 font-size: 12px;
	 line-height: 120%;
	 padding: 0px 20px 10px 20px;
	 overflow: auto;
	 position: relative;
	 top: 22%;
	 font-family: 'Noto Sans';
	 box-sizing: border-box;
 }
 .npc-datos {
	font-family: 'Noto Sans Mono', monospace;
	 font-size: 9px;
	 text-transform: uppercase;
	 color: var(--tca);
	 letter-spacing: 3px;
	 position: relative;
	 padding: 8px;
	 border-top: 1px solid var(--accent);
	 border-bottom: 1px solid var(--accent);
	 width: 300px;
	 box-sizing: border-box;
	 text-align: center;
	 top: 20%;
	 line-height: 125%;
 }
 .gea .npc-datos {
	border-top: 1px solid var(--gea);
	 border-bottom: 1px solid var(--gea);
 }
 .terra .npc-datos {
	border-top: 1px solid var(--terra);
	 border-bottom: 1px solid var(--terra);
 }
 .templo .npc-datos {
	border-top: 1px solid var(--templo);
	 border-bottom: 1px solid var(--templo);
 }
 .earth .npc-datos {
	border-top: 1px solid var(--earth);
	 border-bottom: 1px solid var(--earth);
 }
 /*baules*/
 .baules {
	width: 750px;
	 margin: 0 auto;
	 background: var(--tca2);
	 box-sizing:border-box;
	 border: 2px solid var(--general);
 }
 .baul-1 {
	width: 100%;
	 box-sizing: border-box;
	 display: flex;
	 height: 450px;
 }
 .baul-char {
	width: 350px;
	 height: 450px;
	 position: relative;
	 box-sizing: border-box;
	 overflow: hidden;
 }
 .baul-img {
	width: 350px;
	 height: 450px;
	 position: absolute;
	 background-size: cover;
	 background-position: center;
	 filter: grayscale(100%) brightness(18%) contrast(95%);
	 -webkit-filter: grayscale(100%) brightness(18%) contrast(95%);
	 -moz-filter: grayscale(100%) brightness(18%) contrast(95%);
 }
 .baul-name {
	font-family: 'Eb Garamond', serif;
	 color: var(--accent);
	 font-size: 33px;
	 letter-spacing: 5px;
	 font-style: italic;
	 text-transform: uppercase;
	 font-weight: 500;
	 text-align: center;
	 line-height: 90%;
 }
 .terra .baul-name {
	color: var(--terra);
 }
 .gea .baul-name {
	color: var(--gea);
 }
 .baul-r {
	width:40%;
	 height: 450px;
	 padding: 25px;
	 box-sizing: border-box;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 position: relative;
 }
 .baul-r i {
	font-size: 30px;
	 color: #222;
	 margin-bottom: 10px;
 }
 .baul-datos {
	color: #999;
	 font-family: 'Noto Sans Mono', monospace;
	 text-transform: uppercase;
	 font-size: .55em;
	 letter-spacing: 3px;
	 margin-top: 10px;
 }
 .baul-enlaces {
	width: 10%;
	 background: #000;
	 height: 100%;
	 box-sizing:border-box;
	 padding: 15px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: space-around;
	 font-family:"Phosphor";
	 font-size: 20px;
	 transition: .6s;
 }
 .baul-enlaces a:link, .baul-enlaces a:visited {
	color: var(--accent);
 }
 .terra .baul-enlaces a:link, .terra .baul-enlaces a:visited {
	color: var(--terra);
 }
 .gea .baul-enlaces a:link, .gea .baul-enlaces a:visited {
	color: var(--gea);
 }
 .baul-enlaces a:hover {
	color: var(--general);
	 transition: .8s;
 }
 .l-ficha:after {
	content: "\f412";
 }
 .l-crono:after {
	content:"\f304";
 }
 .l-friends:after {
	content:"\f594";
 }
 .l-expr:after {
	content: "\f5b4";
 }
 .l-invent:after {
	content: "\f24f";
 }
 /*tablillas*/
.tca-posts {
	width: 550px;
	 margin: 0 auto;
	 box-sizing: border-box;
 }
 .tca-post-2 {
	width: 100%;
	 padding: 40px 60px;
	 background: var(--tca2);
	 box-sizing: border-box;
	 font-size: 12px;
	 text-align: justify;
 }
 .post-title-2 {
	font-size: 30px;
	 font-family: 'Eb Garamond', sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 font-weight: 400;
	 text-align: center;
	 padding: 40px 0;
	 color: var(--tca);
 }
 .post-info-2 {
	font-size: 11px;
	 text-transform: uppercase;
	 background: var(--accent);
	 color: var(--tca);
	 display: flex;
	 flex-direction: column;
	 padding: 15px;
	 text-align: center;
	 font-family: 'Noto Sans Mono';
 }
 .tca-post-4 {
	width: 100%;
	 display: flex;
	 flex-direction: column;
	 box-sizing: border-box;
	 background: var(--tca2);
 }
 .post4-head {
	width: 100%;
	 display: flex;
	 justify-content: center;
 }
 .post4-head .lugar, .post4-head .date {
	width: 40%;
	 background: var(--general);
	 height: 30px;
	 font-family: 'Noto Sans Mono', monospace;
	 font-size: 11px;
	 padding: 5px;
	 box-sizing: border-bos;
	 color: var(--accent);
	 text-align: center;
	 text-transform: uppercase;
	 font-weight: 600;
	 letter-spacing: 3px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
 }
 .post4-head .icon {
	width: 100px;
	 height: 100px;
	 background: var(--accent);
	 font-size: 40px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: #000;
 }
 .post4-head .icon img {
	width: 100px;
	 height: 100px;
	 object-fit: cover;
	 object-position: center;
 }
 .post4-txt {
	text-align:justify;
	 padding: 20px 60px 60px 60px;
	 color: #777;
	 font-family: 'Noto Sans', sans-serif;
	 line-height: 140%;
	 font-size: 13px;
 }
 .post4-title {
	font-size: 30px;
	 font-family: 'EB Garamond', sans-serif;
	 font-weight: 400;
	 text-align: center;
	 color: var(--accent);
	 font-style: italic;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 padding-top: 40px;
 }
 
 /**BESTIARIO**/
 #tca-quimario {
	width: 900px;
	 margin: 0 auto;
 }
 .quimera-book {
	width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 box-sizing: border-box;
	 flex-wrap: wrap;
 }
 .tca-furrx {
	width: 48%;
	 margin: 2px;
	 max-height: 750px;
	 background: var(--general);
	 display: flex;
	 flex-direction: column;
	 box-sizing: border-box;
 }
 .furro-type {
	display: flex;
	 width: 100%;
	 box-sizing: border-box;
	 justify-content: center;
	 align-items: center;
	 background: var(--accent);
	 padding: 5px;
 }
 .furro-type .tipo {
	color: #000;
	font-family: 'Noto Sans Mono', monospace;
	 font-size: 11px;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-weight: 600;
 }
 .furro-type i {
	margin: 0 15px;
	 color: #000;
 }
 .furro-type .variante {
	color: #000;
	 font-family: 'Noto Sans Mono', monospace;
	 font-size: 11px;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-weight: 600;
 }
 .quim-tipo {
	display: flex;
	 width: 100%;
	 box-sizing: border-box;
	 justify-content: center;
	 padding-top: 20px;
	 align-items: center;
 }
 .qtipo {
	background: var(--accent);
	 border-radius: 50%;
	 width: 15px;
	 height: 15px;
	 padding: 10px;
	 color: var(--tca);
	 margin: 0 2px;
 }
 .quim-tipo:before {
	content: 'Terrestre';
 }
 .quim-tipo:after {
	content: 'Florazoos';
	color: var(--tca);
	 margin-left: 5px;
	 font-family: 'Noto Sans Mono', monospace;
	 font-size: 10px;
	 text-transform: uppercase;
 }
 .furro-name {
	font-size: 35px;
	 font-family: 'EB Garamond', serif;
	 text-transform: uppercase;
	 color: var(--tca);
	 font-weight: 500;
	 text-align: center;
	 position: relative;
	 font-style: italic;
	 letter-spacing: 2px;
	 position: relative;
	 padding: 20px 0;
 }
 .furro-name .science {
	font-family: 'Noto Serif', serif;
	 font-size: 12px;
	 color: var(--accent);
 }
 .furro-img {
	width: 100%;
	 box-sizing: border-box;
	 height: 250px;
	 align-items: center;
	 background: #000;
	 position: relative;
 }
 .furro-img:hover {
	transition: 0.7s;
	 opacity: 1;
 }
 .furro-desc {
	width: 100%;
	 font-size: 13px;
	 font-family: 'Noto Sans', sans-serif;
	 text-align: justify;
	 padding: 20px;
	 box-sizing: border-box;
	 color: #777;
	 height: 230px;
	 overflow: auto;
	 position: relative;
	 transition: 0.7s;
	 opacity: 0;
	 white-space: pre-line;
	 line-height: 140%;
 }
 .furro-img:hover .furro-desc {
	opacity: 1;
 }
 .furro-pic {
	width: 100%;
	 height: 250px;
	 background-size: cover;
	 background-position: 50% 10%;
	 background-image: url("https://i.imgur.com/3ADJwWP.jpg");
	 filter: grayscale(100%) brightness(23%) contrast(95%);
	 -webkit-filter: grayscale(100%) brightness(23%) contrast(95%);
	 -moz-filter: grayscale(100%) brightness(23%) contrast(95%);
	 position: absolute;
	 opacity: 1;
	 transition: 0.7s;
 }
 .furro-img:hover .furro-pic {
	opacity: .5;
	 filter: blur(2px) grayscale(100%) brightness(23%) contrast(95%);
	;
	 -webkit-filter: blur(2px) grayscale(100%) brightness(23%) contrast(95%);
	;
	 -moz-filter: blur(2px);
	 grayscale(100%) brightness(23%) contrast(95%);
 }
 .furro-stats {
	display: flex;
	 flex-direction: row;
	 width: 100%;
	 box-sizing: border-box;
	 padding: 15px 10px;
 }
 .furro-stats .pv, .furro-stats .fue, .furro-stats .res, .furro-stats .ref{
	width: 25%;
	 box-sizing: border-box;
	 margin: 0 2px;
	 font-family: 'Archivo Black';
	 font-size: 25px;
	 color: var(--accent);
	 text-align: center;
	 display: flex;
	 flex-direction: column;
	 position: relative;
 }
 .pv:after {
	content: "PV";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .fue:after {
	content: "FUE";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .res:after {
	content: "RES";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .ref:after {
	content: "REF";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .furro-info {
	width: 100%;
	 height: 200px;
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 box-sizing: border-box;
	 padding: 10px;
	 background: #000;
	 border: 5px solid var(--general);
 }
 .furro-info .habitat {
	width: 43%;
	 padding: 15px;
	 box-sizing: border-box;
	 font-size: 10px;
	 font-family: 'Noto Sans Mono', monospace;
	 text-align: justify;
	 color: #777;
	 font-weight: 600;
	 box-sizing: border-box;
	 overflow: auto;
	 height: 100%;
	 line-height: 140%;
 }
 .habitat span {
	font-family: 'Archivo Black';
	 font-size: 12px;
	 color: #333;
	 text-transform: uppercase;
 }
 .furro-info .habilidades {
	background: #000;
	 width: 57%;
	 font-family: 'Noto Sans', sans-serif;
	 font-size: 12px;
	 color: #777;
	 padding: 15px;
	 box-sizing: border-box;
	 height: 175px;
	 overflow: auto;
	 white-space: pre-line;
	 line-height: 140%;
 }
 .habilidades b {
	border-bottom: 2px solid var(--accent);
	 color: var(--tca);
	 text-transform: uppercase;
	 font-weight: bold;
 }
 .furro-level {
	width: 100%;
	 background: transparent;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 overflow: hidden;
 }
 .furro-level .baja, .furro-level .media, .furro-level .alta {
	width: 33%;
	 padding: 15px;
	 box-sizing: border-box;
	 background: var(--general);
	 font-size: 11px;
	 color: var(--accent);
	 text-transform: uppercase;
	 font-family: 'Noto Sans Mono';
	 font-weight: 800;
	 height: 45px;
	 position: relative;
 }
 .baja:hover .enemies {
	background: var(--accent);
	 transition: 0.6s;
	 width: 100%;
	 top: 0;
 }
 .media:hover .enemies {
	background: var(--accent);
	 transition: 0.6s;
	 width: 100%;
	 top: 0;
 }
 .alta:hover .enemies {
	background: var(--accent);
	 transition: 0.6s;
	 width: 100%;
	 top: 0;
 }
 .furro-level .enemies {
	width: 33%;
	 font-family: 'Noto Sans Mono', monoscope;
	 font-size: 11px;
	 text-transform: uppercase;
	 transition: 0.6s;
	 position: absolute;
	 top: 100%;
	 width: 100%;
	 left: 0;
	 height: 45px;
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 color: var(--tca);
 }
 
 /**HABILIDADES**/
 .habilidades-tca {
	display: flex;
	 align-items: center;
	 box-sizing: border-box;
	 margin: 0 auto;
	 justify-content: center;
	 width: 1050px;
	 flex-wrap: wrap;
 }
 .tca-habilidad {
	width: 32%;
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 box-sizing: border-box;
	 margin: 20px 2px;
	 border: 2px solid var(--general)
 }
 .hab-box1 {
	width: 100%;
	 display: flex;
	 box-sizing: border-box;
	 height: 30px;
	 justify-content: center;
	 align-items: center;
 }
 .habs-type, .habs-rama {
	width: 50%;
	 background: var(--general);
	 height: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 text-transform: uppercase;
	 font-family: 'Noto Sans Mono', monospace;
	 letter-spacing: 1px;
	 font-size: 11px;
	 font-weight: 600;
	 transition: .7s;
 }
 .hicon-2:hover .habs-type {
	color: var(--accent);
 }
 .gea .hicon-2:hover .habs-type {
	color: var(--gea);
 }
 .terra .hicon-2:hover .habs-type {
	color: var(--terra);
 }
 .habs-icons {
	width: 50px;
	 height: 50px;
	 background: var(--accent);
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: relative;
	 overflow: hidden;
	 color: var(--tca);
	 top: 10px;
	 font-size: 20px;
 }
 .gea .habs-icons {
	background:var(--gea);
 }
 .terra .habs-icons {
	background:var(--terra);
 }
 .hicon-2 {
	color: var(--tca);
	 font-size: 20px;
	 font-family: 'Noto Sans', sans-serif;
	 transition: .6s;
	 width: 50px;
	 height: 50px;
	 top: -100%;
	 position: absolute;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 .habs-icons:hover .hicon-2 {
	background: var(--general);
	 color:var(--accent);
	 transition: .6s;
	 top: 0;
	 width: 100%;
 }
 .gea .habs-icons:hover .hicon-2 {
	color: var(--gea);
 }
 .terra .habs-icons:hover .hicon-2 {
	color: var(--terra);
 }
 .hab-nombre {
	width: 100%;
	 font-size: 35px;
	 color: var(--accent);
	 font-family: 'Eb Garamond', serif;
	 font-weight: 600;
	 text-align: center;
	 font-style: italic;
	 padding: 35px 15px 15px 15px;
	 box-sizing: border-box;
 }
 .gea .hab-nombre {
	color: var(--gea);
 }
 .terra .hab-nombre {
	color: var(--terra);
 }
 .hab-info {
	width: 100%;
	 display: flex;
	 border-top: 2px solid var(--general);
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
 }
 .hab-niveles {
	background: var(--accent);
	 width: 100%;
	 padding: 5px;
	 box-sizing: border-box;
	 font-family: 'Noto Sans Mono', monoscope;
	 font-size: 12px;
	 text-transform: uppercase;
	 color: #000;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-weight: 600;
	 cursor: pointer;
 }
 .gea .hab-niveles {
	background: var(--gea);
 }
 .terra .hab-niveles {
	background: var(--terra);
 }
 .hab-bonus {
	background: var(--general);
	 width: 100%;
	 font-size: 12px;
	 font-family: 'Noto Sans', sans-serif;
	 padding: 15px;
	 box-sizing: border-box;
	 text-align: justify;
	 line-height: 140%;
	 min-height: 140px;
	 max-height: 140px;
	 overflow: auto;
	 white-space: pre-line;
 }
 .hab-tecs {
	display: flex;
	 justify-content: center;
	 align-items:center;
	 width: 100%;
	 height: 50px;
 }
 .hab-eter, .hab-frio {
	width: 50%;
	 box-sizing: border-box;
	 padding: 10px;
	 font-family: 'Noto Sans Mono', monoscope;
	 font-size: 10px;
	 display: flex;
	 justify-content: space-between;
	 text-transform: uppercase;
	 align-items: center;
	 line-height: 130%;
 }
 .hab-frio {
	border-left: 1px solid var(--general);
 }
 .hab-eter {
	border-right: 1px solid var(--general);
 }
 .hab-eter span, .hab-frio span {
	font-family: 'Archivo Black';
	 color: var(--accent);
	 font-size: 15px;
 }
 .gea .hab-eter span, .gea .hab-frio span {
	color: var(--gea);
 }
 .terra .hab-eter span, .terra .hab-frio span {
	color: var(--terra);
 }
 .hab-container {
	width: 100%;
	 box-sizing: border-box;
 }
 .cshow {
	 display: block;
 }
 .chide {
	 display: none;
 }
 /**CRONOLOGÍA**/
 .chronos {
	width: 750px;
	 margin: 0 auto;
	 background: var(--tca2);
	 box-sizing:border-box;
	 border: 2px solid var(--general);
 }
 .crono-1 {
	width: 100%;
	 display: flex;
	 flex-direction: column;
	 box-sizing: border-box;
 }
 .temas-tit {
	background: var(--general);
	 color: var(--tca);
	 font-family: 'Eb Garamond', serif;
	 font-size: 15px;
	 text-transform: uppercase;
	 font-style: italic;
	 padding: 10px;
	 box-sizing: border-box;
	 letter-spacing: 3px;
	 text-align: center;
 }
 .temas-box {
	width: 100%;
	 padding: 15px;
	 box-sizing: border-box;
	 display: flex;
	 flex-direction: column;
 }
 .tema-abierto, .tema-cerrado {
	display: flex;
	 width: 100%;
	 justify-content: center;
	 align-items: center;
	 font-size: .8em;
	 box-sizing: border-box;
 }
 .tema-abierto:before {
	content: "\f4a4";
	 font-family: 'Phosphor';
	 font-weight: 800;
	 font-size: 1.6em;
	 color: var(--accent);
 }
 .terra .tema-abierto:before {
	color: var(--terra);
 }
 .gea .tema-abierto:before {
	color: var(--gea);
 }
 .tema-cerrado:before {
	content: "\f4a3";
	 font-family: 'Phosphor';
	 font-weight: 800;
	 font-size: 1.6em;
	 color: #222;
 }
 .tema-abierto a, .tema-cerrado a {
	font-weight: 800;
	 font-family: 'Noto Sans', sans-serif;
	 text-transform: uppercase;
	 padding: 0 8px;
 }
 .tema-abierto b, .tema-cerrado b {
	color: var(--accent);
	 font-family: 'Noto Sans Mono', monospace;
	 text-transform: uppercase;
	 padding-right: 8px;
 }
 .terra .tema-abierto b, .terra .tema-cerrado b {
	color: var(--terra);
 }
 .gea .tema-abierto b, .gea .tema-cerrado b {
	color: var(--gea);
 }
 /**RECOMPENSAS**/
 .tca-reward {
	width: 100%;
	 box-sizing: border-box;
	 background: #000;
	 display: flex;
	 flex-direction: column;
	 margin: 0 auto;
 }
 .reward-tt {
	width: 100%;
	 background: var(--accent);
	 color: #000;
	 font-size: 14px;
	 font-weight: 800;
	 letter-spacing: 3px;
	 padding: 10px;
	 box-sizing: border-box;
	 text-transform: uppercase;
	 font-family: 'Eb Garamond', serif;
	 font-style: italic;
 }
 .reward-table {
	width: 100%;
	 border: 2px solid var(--general);
	 border-bottom: 0;
	 box-sizing: border-box;
 }
 .reward-line {
	width: 100%;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 border-bottom: 2px solid var(--general);
 }
 .rew-tl {
	width: 90%;
	 box-sizing: border-box;
	 padding: 10px;
 }
 .rew-tr {
	width: 10%;
	 font-weight: bold;
	 color: #999;
	 padding: 10px;
	 box-sizing: border-box;
 }
 /**BESTIARIO**/
 #tca-quimario {
	width: 900px;
	 margin: 0 auto;
 }
 .quimera-book {
	width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 box-sizing: border-box;
	 flex-wrap: wrap;
 }
 .tca-furrx {
	width: 48%;
	 margin: 2px;
	 max-height: 750px;
	 background: var(--general);
	 display: flex;
	 flex-direction: column;
	 box-sizing: border-box;
 }
 .furro-type {
	display: flex;
	 width: 100%;
	 box-sizing: border-box;
	 justify-content: center;
	 align-items: center;
	 background: var(--accent);
	 padding: 5px;
 }
 .furro-type .tipo {
	color: #000;
	font-family: 'Noto Sans Mono', monospace;
	 font-size: 11px;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-weight: 600;
 }
 .furro-type i {
	margin: 0 15px;
	 color: #000;
 }
 .furro-type .variante {
	color: #000;
	 font-family: 'Noto Sans Mono', monospace;
	 font-size: 11px;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-weight: 600;
 }
 .quim-tipo {
	display: flex;
	 width: 100%;
	 box-sizing: border-box;
	 justify-content: center;
	 padding-top: 20px;
	 align-items: center;
 }
 .qtipo {
	background: var(--accent);
	 border-radius: 50%;
	 width: 15px;
	 height: 15px;
	 padding: 10px;
	 color: var(--tca);
	 margin: 0 2px;
 }
 .quim-tipo:before {
	content: 'Terrestre';
 }
 .quim-tipo:after {
	content: 'Florazoos';
	color: var(--tca);
	 margin-left: 5px;
	 font-family: 'Noto Sans Mono', monospace;
	 font-size: 10px;
	 text-transform: uppercase;
 }
 .furro-name {
	font-size: 35px;
	 font-family: 'EB Garamond', serif;
	 text-transform: uppercase;
	 color: var(--tca);
	 font-weight: 500;
	 text-align: center;
	 position: relative;
	 font-style: italic;
	 letter-spacing: 2px;
	 position: relative;
	 padding: 20px 0;
 }
 .furro-name .science {
	font-family: 'Noto Serif', serif;
	 font-size: 12px;
	 color: var(--accent);
 }
 .furro-img {
	width: 100%;
	 box-sizing: border-box;
	 height: 250px;
	 align-items: center;
	 background: #000;
	 position: relative;
 }
 .furro-img:hover {
	transition: 0.7s;
	 opacity: 1;
 }
 .furro-desc {
	width: 100%;
	 font-size: 13px;
	 font-family: 'Noto Sans', sans-serif;
	 text-align: justify;
	 padding: 20px;
	 box-sizing: border-box;
	 color: #777;
	 height: 230px;
	 overflow: auto;
	 position: relative;
	 transition: 0.7s;
	 opacity: 0;
	 white-space: pre-line;
	 line-height: 140%;
 }
 .furro-img:hover .furro-desc {
	opacity: 1;
 }
 .furro-pic {
	width: 100%;
	 height: 250px;
	 background-size: cover;
	 background-position: 50% 10%;
	 background-image: url(https://i.imgur.com/3ADJwWP.jpg);
	 filter: grayscale(100%) brightness(23%) contrast(95%);
	 -webkit-filter: grayscale(100%) brightness(23%) contrast(95%);
	 -moz-filter: grayscale(100%) brightness(23%) contrast(95%);
	 position: absolute;
	 opacity: 1;
	 transition: 0.7s;
 }
 .furro-img:hover .furro-pic {
	opacity: .5;
	 filter: blur(2px) grayscale(100%) brightness(23%) contrast(95%);
	;
	 -webkit-filter: blur(2px) grayscale(100%) brightness(23%) contrast(95%);
	;
	 -moz-filter: blur(2px);
	 grayscale(100%) brightness(23%) contrast(95%);
 }
 .furro-stats {
	display: flex;
	 flex-direction: row;
	 width: 100%;
	 box-sizing: border-box;
	 padding: 15px 10px;
 }
 .furro-stats .pv, .furro-stats .fue, .furro-stats .res, .furro-stats .ref{
	width: 25%;
	 box-sizing: border-box;
	 margin: 0 2px;
	 font-family: 'Archivo Black';
	 font-size: 25px;
	 color: var(--accent);
	 text-align: center;
	 display: flex;
	 flex-direction: column;
	 position: relative;
 }
 .pv:after {
	content: "PV";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .fue:after {
	content: "FUE";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .res:after {
	content: "RES";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .ref:after {
	content: "REF";
	 font-size: 11px;
	 text-transform: uppercase;
	 color: #777;
	 font-family: 'Noto Sans Mono', monospace;
	 font-weight: 500;
	 position: relative;
 }
 .furro-info {
	width: 100%;
	 height: 200px;
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 box-sizing: border-box;
	 padding: 10px;
	 background: #000;
	 border: 5px solid var(--general);
 }
 .furro-info .habitat {
	width: 43%;
	 padding: 15px;
	 box-sizing: border-box;
	 font-size: 10px;
	 font-family: 'Noto Sans Mono', monospace;
	 text-align: justify;
	 color: #777;
	 font-weight: 600;
	 box-sizing: border-box;
	 overflow: auto;
	 height: 100%;
	 line-height: 140%;
 }
 .habitat span {
	font-family: 'Archivo Black';
	 font-size: 12px;
	 color: #333;
	 text-transform: uppercase;
 }
 .furro-info .habilidades {
	background: #000;
	 width: 57%;
	 font-family: 'Noto Sans', sans-serif;
	 font-size: 12px;
	 color: #777;
	 padding: 15px;
	 box-sizing: border-box;
	 height: 175px;
	 overflow: auto;
	 white-space: pre-line;
	 line-height: 140%;
 }
 .habilidades b {
	border-bottom: 2px solid var(--accent);
	 color: var(--tca);
	 text-transform: uppercase;
	 font-weight: bold;
 }
 .furro-level {
	width: 100%;
	 background: transparent;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 overflow: hidden;
 }
 .furro-level .baja, .furro-level .media, .furro-level .alta {
	width: 33%;
	 padding: 15px;
	 box-sizing: border-box;
	 background: var(--general);
	 font-size: 11px;
	 color: var(--accent);
	 text-transform: uppercase;
	 font-family: 'Noto Sans Mono';
	 font-weight: 800;
	 height: 45px;
	 position: relative;
 }
 .baja:hover .enemies {
	background: var(--accent);
	 transition: 0.6s;
	 width: 100%;
	 top: 0;
 }
 .media:hover .enemies {
	background: var(--accent);
	 transition: 0.6s;
	 width: 100%;
	 top: 0;
 }
 .alta:hover .enemies {
	background: var(--accent);
	 transition: 0.6s;
	 width: 100%;
	 top: 0;
 }
 .furro-level .enemies {
	width: 33%;
	 font-family: 'Noto Sans Mono', monoscope;
	 font-size: 11px;
	 text-transform: uppercase;
	 transition: 0.6s;
	 position: absolute;
	 top: 100%;
	 width: 100%;
	 left: 0;
	 height: 45px;
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 color: var(--tca);
 }
