/*TABLILLA POST HART*/
.hartpost {width: 600px; background-color: #0b0b0b; margin: 0 auto;color: #777; font-family: 'Noto Sans', sans-serif; font-size: 13px; box-sizing: border-box; position: relative; overflow: hidden; display: flex; flex-direction: column; justify-content: center;}
.hartwith {width: 100%; box-sizing: border-box; display: flex; align-items: center; padding: 80px 80px 55px 80px;}
.withpj {width: 100%; box-sizing: border-box; font-family: 'Tilt Neon', display; font-size: 9px; text-transform: uppercase; color: var(--gea); font-weight: 900; letter-spacing: 2px; margin-left: 40px;}
.terra .withpj {color: var(--terra);}
.hybrid .withpj {color: var(--hybrid);}
.hartgif {width: 50px; height: 50px; border-left: 1px solid transparent; border-radius: 100%; box-shadow: 0 0 30px var(--gea); border: 1px solid rgba(43, 92,113, .35);}
.terra .hartgif {border: 1px solid rgba(43,113,87, .35); box-shadow: 0 0 30px var(--terra);}
.hybrid .hartgif {border: 1px solid rgba(75,55,110, .35); box-shadow: 0 0 30px var(--hybrid);}
.hartgif img {width: 50px; height: 50px; object-fit: cover; object-position: center; border-radius: 100%;
              filter: grayscale(100%) brightness(43%) contrast(95%); 
              -webkit-filter: grayscale(100%) brightness(43%) contrast(95%);-moz-filter: grayscale(100%) brightness(43%) contrast(95%);}
.hartitle {width: 100%; box-sizing: border-box; padding: 0 80px; font-family: 'Geologica'; text-transform: uppercase; color: #bdbdbd; font-size: 70px; letter-spacing: 5px; line-height: 85%; font-weight:500;}
.hartdate {width: 100%; box-sizing: border-box; padding: 0 80px; display: flex; align-items: center; margin-top: 60px;}
.hartline {width: 100%; background: var(--gea); height: 2px; border-radius: 3px; box-sizing: border-box; display: flex;}
.hartline:after {width: 100%; height: 2px; background: #222; content: ""; flex-grow: 1; margin-left: 40%;}
.hartline2 {width: 100%; background: var(--gea); height: 2px; border-radius: 3px; box-sizing: border-box; display: flex;}
.hartline2:before {width: 100%; height: 2px; background: #222; content: ""; flex-grow: 1; margin-right: 40%;}
.terra .hartline {background: var(--terra);}
.terra .hartline2 {background: var(--terra);}
.hybrid .hartline {background: var(--hybrid);}
.hybrid .hartline2 {background: var(--hybrid);}
.hartdate > .hdate {width: 100%; font-weight: 100; text-align: right; margin-left: 10px; box-sizing: border-box; font-family: 'Tilt Neon', display; font-size: 9px; text-transform: uppercase; color: var(--gea); letter-spacing: 4px; }
.terra .hartdate > .hdate {color: var(--terra);}
.hybrid .hartdate > .hdate {color: var(--hybrid);}
.harttext {width: 100%; padding: 55px 80px 80px 80px; box-sizing: border-box; text-align: justify;}


/*FIRMA HART*/
.hartfrm {width: 250px; height: 250px; border: 10px solid #181818; position: relative; margin: 0 auto;}
.hartimg {position: absolute; width: 248px; height: 248px; background: url(https://imgur.com/6sU9NCZ.png); border: 1px solid #8a8190; overflow: hidden; box-sizing: border-box;}
.hartfrm:hover .hartf-1 { transition: .6s; opacity: 1;}
.hartf-1 {font-family: 'Tilt Neon'; font-size: 8px; text-transform: uppercase; color: #eee; letter-spacing: 3px; position: relative; width: 100%; box-sizing: border-box; height: 250px; text-align: justify; background: rgba(128,129,144, .5); backdrop-filter: blur(10px); padding: 25px; transition: .6s; opacity: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.hartf-1 span {font-family: 'Playfair Display', serif; font-size: 68px; text-transform: lowercase; letter-spacing: -4px; font-weight: bold; box-sizing: border-box;}
